$primary-color: #0476D9;
$dark-primary: #023E73;
$light-primary: #05DBF2;
$green-color: #04BFAD;
$lemon-color: #95D904;
$light-color: #f6f9ff;
$text-color: #444444;

$red: #E91E63;
$blue: #3F51B5;
$grey: #EAE8E9;
$grey2: #f3f3f3;
$white: #FFF;
